<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Name="TianCaiSpace Hub"
    Manufacturer="TianCaiSpace Hub"
    Version="$(var.ProductVersion)"
    UpgradeCode="{42B4BF3C-E660-4C83-96AA-56A4426B96A2}"
    Scope="perMachine"
    Compressed="yes">
    <MajorUpgrade
      AllowSameVersionUpgrades="yes"
      DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Icon Id="CodexHubIcon" SourceFile="$(var.SourceDir)\AppIcon.ico" />
    <Property Id="ARPPRODUCTICON" Value="CodexHubIcon" />

    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="INSTALLFOLDER" Name="TianCaiSpace Hub">
        <Component Id="CodexHubExecutable" Guid="{0DE4FE9A-3D6C-4F0C-A61B-F07C1B6FD96A}">
          <File Id="CodexHubExe" Source="$(var.SourceDir)\CodexHub.exe" KeyPath="yes" />
        </Component>
        <Component Id="CodexHubReadme" Guid="{14C8BE1C-E8C1-4121-90C6-7CB96B842049}">
          <File Id="ReadmeMd" Source="$(var.SourceDir)\README.md" KeyPath="yes" />
        </Component>
        <Component Id="CodexHubReadmeEn" Guid="{4DAEFCFF-E587-4B99-B5CD-C0CB186A1C3F}">
          <File Id="ReadmeEnMd" Source="$(var.SourceDir)\README.en.md" KeyPath="yes" />
        </Component>
        <Component Id="CodexHubConfigExample" Guid="{15D53774-B316-43E0-B875-D05BBEA50DEB}">
          <File Id="ConfigExampleToml" Source="$(var.SourceDir)\config.example.toml" KeyPath="yes" />
        </Component>
      </Directory>
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ApplicationProgramsFolder" Name="TianCaiSpace Hub">
        <Component Id="CodexHubStartMenuShortcut" Guid="{C3D91DEF-A966-478A-B292-4574DE3D2675}">
          <Shortcut
            Id="CodexHubStartMenuShortcut"
            Name="TianCaiSpace Hub"
            Description="Open TianCaiSpace Hub"
            Target="[INSTALLFOLDER]CodexHub.exe"
            WorkingDirectory="INSTALLFOLDER"
            Icon="CodexHubIcon" />
          <RemoveFolder Id="RemoveApplicationProgramsFolder" On="uninstall" />
          <RegistryValue
            Root="HKCU"
            Key="Software\CodexHub"
            Name="StartMenuShortcut"
            Type="integer"
            Value="1"
            KeyPath="yes" />
        </Component>
      </Directory>
    </StandardDirectory>

    <StandardDirectory Id="DesktopFolder">
      <Component Id="CodexHubDesktopShortcut" Guid="{ACF736CD-48FE-45BB-8C19-103ABFFABE83}">
        <Shortcut
          Id="CodexHubDesktopShortcut"
          Name="TianCaiSpace Hub"
          Description="Open TianCaiSpace Hub"
          Target="[INSTALLFOLDER]CodexHub.exe"
          WorkingDirectory="INSTALLFOLDER"
          Icon="CodexHubIcon" />
        <RegistryValue
          Root="HKCU"
          Key="Software\CodexHub"
          Name="DesktopShortcut"
          Type="integer"
          Value="1"
          KeyPath="yes" />
      </Component>
    </StandardDirectory>

    <Feature Id="MainFeature" Title="TianCaiSpace Hub" Level="1">
      <ComponentRef Id="CodexHubExecutable" />
      <ComponentRef Id="CodexHubReadme" />
      <ComponentRef Id="CodexHubReadmeEn" />
      <ComponentRef Id="CodexHubConfigExample" />
      <ComponentRef Id="CodexHubStartMenuShortcut" />
      <ComponentRef Id="CodexHubDesktopShortcut" />
    </Feature>
  </Package>
</Wix>
